<h1>A propos de notre site</h1>

<h2>BIenvenue sur notre Générateur de mot de passe</h2>

Vous vous trouvez sur un site qui va vous permettre de géhérer un mot de passe aléatoire en fonction des paramètres sélectionnés: Le nombre de caractères et la présence de caractères spéciaux ou de majuscules.
Derien ;)