<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<div class="container text-center">
<h1>Générateur de mot de passe</h1>

<form action="{% url 'motdepasse' %}">
    <select name="longueur" id="">
        <option value="6">6 caractères</option>
        <option value="7">7 caractères</option>
        <option value="8">8 caractères</option>
        <option value="9">9 caractères</option>
        <option value="10">10 caractères</option>
        <option value="11">11 caractères</option>
        <option value="12" selected="selected">12 caractères</option>
        <option value="13">13 caractères</option>
        <option value="14">14 caractères</option>
    </select> longueur
    <br>
    <input type="checkbox" name="majuscule" id=""> Majuscule
    <br>
    <br>
    <input type="checkbox" name="nombres" id=""> Nombres
    <br>
    <br>
    <input type="checkbox" name="special" id=""> Spécial
    <br>
    <input type="submit" value="générer mot de passe" class="btn btn-primary">
</form>
</div>