<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<div class="container text-center">
<h1>Le mot de passe est: </h1>
<h2 class="alert alert-success">{{  motdepasse  }}</h2>
<a href="{% url 'home' %}" class="btn btn-warning">Accueil</a>
</div>